@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.container {
    background:linear-gradient(#61c0dd,#ffffff,#64c1e6,#ffffff) ;
    font-family: 'Playfair Display', serif;
}

.desc {
    color: rgb(145, 145, 145);
}

.title {
    font-size: x-large;
    font-weight: bold;
    color: maroon;
    border-color: #ffffff;
}