@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.container {
    background:linear-gradient(#61c0dd,#ffffff,#64c1e6,#ffffff) ;
    font-family: 'Playfair Display', serif;
}

.desc {
    color: rgb(145, 145, 145);
}

.title {
    border: 2px solid rgb(226, 98, 98);
    font-size: x-large;
    font-weight: bold;
    color: rgb(31, 1, 1);
    /* border-color: #ffffff; */
}