@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.container {
    background:linear-gradient(#000000,#ffffff,#ffffff,#000000);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgb(0, 0, 0);
}

.news-header{
    background:linear-gradient(#ff8e8e,#ffffff,#ffffff,#ff9898);
    font-weight: bolder;
    font-size: xx-large;
}
