@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.container {
    background:linear-gradient(#000000,#ffffff,#ffffff,#000000);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.news-header{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
