
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- <div class="navbar-header"  style="color: rgb(255, 0, 0)"> -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <!-- <span class="sr-only">Toggle navigation</span> -->
              <!-- <span class="icon-bar"></span> -->
              <!-- <span class="icon-bar"></span> -->
              <!-- <span class="icon-bar"></span> -->
            </button>
            <a class="navbar-brand" href="/" style="background-color: rgb(229, 255, 0); color: black;"> Mpasho News</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" style="color: yellow; font-size: x-large;">Home</a></li>
        </div>

</div>